body {
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  position: absolute;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-self: flex-start;
  margin-bottom: auto;
  top: 0px;
  height: 80px;
  min-height: 80px;
  width: 100vw;
  min-width: 100vw;
  background-color: #2081c3;
  box-shadow: 0px 5px 10px #bfbfbf;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 20px;
}

.header-title {
  color: white;
}

.header-credits {
  color: white;
  margin: 20px;
}

/* Drone List CSS */

.drone-list-background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 20px 20px 20px;
}

.drones-div-header {
  margin: 100px 20px 20px 20px;
  text-align: center;
}

.drone-div {
  border-style: dashed;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.drone-div button {
  margin: 10px;
  color: white;
  background-color: #2081c3;
  border-style: none;
  padding: 5px;
  border-radius: 5px;
}

.drone-div a {
  text-decoration: none;
  background-color: #2081c3;
  border-radius: 5px;
  padding: 5px;
  color: white;
  margin: 5px;
}

/* Create Drone CSS */

.create-drone-background {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('/images/create-drone-background.jpg');
  background-size: 100vw 100%;
  background-repeat: no-repeat;
  margin: 0px
}

.create-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 14rem;
  width: 62rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.create-drone-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

/* Update Drone CSS */

.update-drone-background {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('/images/create-drone-background.jpg');
  background-size: 100vw 100%;
  background-repeat: no-repeat;
  margin: 0px
}

.update-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 14rem;
  width: 62rem;
  background-color: rgba(255, 255, 255, 0.5);
}

.update-drone-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}